html, body{
  height: 100%;
}
body{
  background: url('../images/bg.jpg') no-repeat;
  background-size:cover;
  position: relative;
}
h1{
  text-align: center;
  color: #72ccbf;
  font-size: 40px;
  margin-top: 15%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -60px;
}
.button{
  border: none;
  width: 153px;
  height: 60px;
  background: url('../images/switch-bg.png') no-repeat center;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -80px;
  margin-top: 30px;
  outline: none;
  position: relative;
}
.status-txt{
  color: #14a693;
  font-size: 24px;
  position: absolute;
  top: 12px;
  left: 60px;
}
.button.on .status-txt{
  top: 12px;
  left: 60px;
}
.button.on .knob{
  background-color: #23af95;
  width: 55px;
  height: 55px;
  border: 10px #2c3b4a solid;
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.button.on .knob{
  left: 61%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.button .knob{
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  left: 0;
  top: 0;
 background: #838383;
 /*border: 10px #838383 solid;*/
  border-radius: 50px;
  width: 55px;
  height: 55px;
  background: #a5a6a6; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #a5a6a6 0%, #838383 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a5a6a6), color-stop(100%,#838383)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #a5a6a6 0%,#838383 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #a5a6a6 0%,#838383 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #a5a6a6 0%,#838383 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #a5a6a6 0%,#838383 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a6a6', endColorstr='#838383',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}